<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">

      <!-- <div class="footer-col  footer-col-1">
        <ul class="social-media-list">
          <li>
            <a href="#" class="email-link"
              data-email="{{ site.academic_email }}">
              {{ site.academic_email }}
            </a>
          </li>
        </ul>
      </div> -->

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>
            <a href="#" class="email-link" data-email="{{ site.academic_email }}">
              <img src="{{ site.baseurl }}/images/mail.svg" alt="E-mail" />
            </a>
          </li>
          {% if site.scholar_username %}
          <li>
            <a href="https://scholar.google.com/citations?user={{ site.scholar_username }}">
              <img src="{{ site.baseurl }}/images/scholar_black.svg" alt="Google Scholar" />
            </a>
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <img src="{{ site.baseurl }}/images/github.svg" alt="GitHub" />
            </a>
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <img src="{{ site.baseurl }}/images/linkedin.svg" alt="LinkedIn" />
            </a>
          </li>
          {% endif %}
        </ul>
      </div>



      <!-- <div class="footer-col  footer-col-3">
         <p class="text">{{ site.description }} 
      </div> -->
    </div> 

  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll(".email-link").forEach(function (link) {
        const obfuscated = link.dataset.email;
        const actualEmail = obfuscated
          .replace(/\s*\[at\]\s*/i, "@")
          .replace(/\s*\[dot\]\s*/ig, ".");

        // Set real mailto: href on click
        link.addEventListener("click", function (e) {
          e.preventDefault(); // prevent "#" jump
          window.location.href = "mailto:" + actualEmail;
        });
      });
    });
  </script>


</footer>
